# Server Environment Configuration
PORT=8080
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:4200

# PostgreSQL Connection URL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/djq_db?sslmode=disable

# Redis Connection URL
REDIS_URL=redis://localhost:6379
