# Server Environment Configuration
PORT=8080
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:4200

# PostgreSQL Connection URL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/djq_db?sslmode=disable

# Redis Connection URL
REDIS_URL=redis://localhost:6379
REDIS_QUEUE_KEY=jobs:queue

# Worker Pool Configuration
WORKER_COUNT=3

# Retry Mechanism Configuration
RETRY_BASE_DELAY=1s
RETRY_MAX_DELAY=30s

